@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

//VARS
$mobile-breakpoint: 375px;
$desktop-breakpoint: 1439px;

$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

$body-copy-size: .75em;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-decoration: none;
    list-style: none;
    font-family: 'Spartan', sans-serif;
}

nav {
    position: fixed;
    width: 100vw;    
    padding: 25px 1em;
    transition: opacity 450ms ease;

    ul {  
        width: 80%;
        text-align: right;
        margin-left: auto;
        padding: 17px 0;

        li {                 
            display: inline-block;                
            font-family: 'Spartan', sans-serif;
            font-size: $body-copy-size;
            font-weight: 700;
            margin: 0 1em;

            a {
                color: $black;
            }                
        }
    } 

    &.mobile-nav {
        opacity: 0;
        pointer-events: none;
        background: $white;

        ul {  
            width: 80%;
            text-align: right;
            margin-left: auto;
            padding: 17px 0;
    
            li {                 
                display: inline-block;                
                font-family: 'Spartan', sans-serif;
                font-size: $body-copy-size;
                font-weight: 700;
                margin: 0 1em;
    
                a {
                    color: $black;
                }                
            }
        }   

        .close-btn {
            position: absolute;
            margin: 25px auto auto 1em;
            transform: translateY(-50%);
        }   
    
        .mobile-menu-overlay {
            position: fixed;
            top: 100px;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &.desktop-nav {
        display: block;
        padding: 45px 34px;
        z-index: 2;
        
        ul {
            margin: 0 auto 0 30px;
            text-align: left;

            img {
                vertical-align: middle;
                margin-right: 50px;
            }

            li {
                vertical-align: middle;
            }

            a {
                color: $white;
            }
        }

        @media only screen  and (max-width: 1439px) {
            display: none;
        }
    }

}

#menu-toggler {
    display: none;

    &:checked ~ nav {
        opacity: 1;
        pointer-events: all;
        z-index: 2;
    }
}



.row-1, .row-2 {
    display: flex;
    flex-flow: row wrap;
}

.row-1 {
    @media only screen  and (min-width: 1439px) {
        height: calc( 70vh - 29px );
    }
}

header {
    position: relative;
    height: 360px;
    width: 375px;
    flex: 2 1 835px;
    z-index: 1;

    @media only screen  and (min-width: 1439px) {
        height: 100%;
    }

    .hamburger {
        position: fixed;
        margin: 50px auto auto 2em;
        transform: translate(-10%, -40%);
        z-index: 1;

        @media only screen  and (min-width: 1439px) {
            display: none;
        }
    }

    .mobile-logo {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -40%);
        z-index: 1;

        @media only screen  and (min-width: 1439px) {
            display: none;
        }
    }

    .swiper-container {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    .hero-item {
        height: 360px;
        width: 100%;

        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;

        &#item-1 {
            background-image: url(../images/mobile-image-hero-1.jpg);
        }

        &#item-2 {
            background-image: url(../images/mobile-image-hero-2.jpg);
        }

        &#item-3 {
            background-image: url(../images/mobile-image-hero-3.jpg);
        }

        @media only screen  and (min-width: 1439px) {
            height: 100%;

            &#item-1 {
                background-image: url(../images/desktop-image-hero-1.jpg);
            }
    
            &#item-2 {
                background-image: url(../images/desktop-image-hero-2.jpg);
            }
    
            &#item-3 {
                background-image: url(../images/desktop-image-hero-3.jpg);
            }
        }
    }
}

.hero-controls {
    display: flex;
    position: absolute;
    flex-flow: row nowrap;
    width: 100px;
    height: 50px;
    right: 0;
    background: $black;
    bottom: 0;
    z-index: 1;

    .hero-control {
        display: inline-block;
        position: relative;
        padding: 11.5px 18px;
        margin: 0;
        top: auto;
        left: auto;
        right: auto;
        width: auto;
        height: auto;
        outline: none;
        &:hover {
            background: $very-dark-gray;
        }

        &::after {
            display: none;
        }
    }

    @media only screen and (min-width: 1439px) {
        right: -190px;
        width: 190px;
        height: 90px;
        
        .hero-control {
            padding: 29px 38px;

            img {
                height: 29px;
                width: 19px;
            }
        }
    }

}

.header-copy {
    position: relative;
    padding: 70px 30px;
    height: auto;
    width: 375px;
    flex: 1 1 605px;
    z-index: 0;

    h1 {
        margin-bottom: 1em;
        color: $black;
    }

    p {
        margin-bottom: 3.5em;
        line-height: 1.6em;
        font-size: $body-copy-size;
        color: $dark-gray;
    }

    a {
        font-size: $body-copy-size;
        font-weight: 600;
        letter-spacing: 1em;
        text-transform: uppercase;
        color: $black;

        svg {
            fill: $black;
        }

        &:hover {
            color: $dark-gray;

            svg {
                fill: $dark-gray;
            }
        }

    }

    @media only screen  and (min-width: 1439px) {
        height: 100%;
        padding: 120px 100px;

        h1 {
            font-size: 2.35em;
        }
    }
}

.row-2 {

    .about-1, .about-3 {
        height: 266px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex: 1 1 415px;

        @media only screen  and (min-width: 1439px) {
            height: auto;
        }
    }

    .about-1 {
        background-image: url(../images/image-about-dark.jpg);
    }

    .about-3 {
        background-image: url(../images/image-about-light.jpg);
    }
    
    .about-2 {
        padding: 74px 40px;
        flex: 2 1 610px;

        h2 {
            font-size: $body-copy-size;
            font-weight: 700;
            margin-bottom: 1.2em;
            text-transform: uppercase;
            letter-spacing: 0.5em;

            @media only screen and (min-width: 1439px) {
                font-size: $body-copy-size;
            }
        }

        p {
            line-height: 1.6em;
            color: $dark-gray;
            font-size: $body-copy-size;
        }
    }

}